.table {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  border: 1px solid #000;
}
.table__col {
  width: 50px;
  background-color: #000;
}
.table--flex {
  display: flex;
  justify-content: space-between;
}
