#app
  font-family 'Fira Code', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif

.hero
  overflow hidden
  display flex
  flex-direction column
  align-items flex-start
  img
    width 140px
    margin 20px 0px!important
  #main-title
    font-size 20px
    font-weight 600
    margin 0px!important

  .description
    margin 0px!important
    font-size 18px!important

.home
  font-family 'Miriam Libre', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif

@media screen and (min-width: 1000px)
  .home
    width 40%