.table
  width 500px
  height 500px
  margin 0 auto
  border 1px solid red
  &__col
    width 50px
    background-color black

.table--flex
  display flex
  justify-content: space-between
  